# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

/.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release


# Android
/android/
/android/**/build/
/android/**/app/build/
/.gradle/

# iOS
/ios/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Pods/
/ios/.symlinks/
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/ServiceDefinitions.json
ios/Flutter/engine/

# macOS
/macos/
/macos/Flutter/Flutter.framework
/macos/Flutter/Flutter.podspec
/macos/Flutter/Generated.xcconfig

# Linux
/linux/

# Windows
/windows/

# Web
/web/

# Generated plugin registrant files
/generated_plugin_registrant.dart

# CocoaPods related
**/Pods/

# pubspec.lock 
# pubspec.lock

# Ignore misc system files
*.lock
